@model UserVM

@{
    ViewData["Title"] = "CheckPassword";
}

<div class="container">
    <div class="design">
        <div class="pill-1 rotate-45"></div>
        <div class="pill-2 rotate-45"></div>
        <div class="pill-3 rotate-45"></div>
        <div class="pill-4 rotate-45"></div>
    </div>
    <form class="login" asp-action="CheckPassword" method="post">
        <h3 class="title">Mövcud istifadəçi məlumatları</h3>
        <span class="validation">@ViewBag.UsernameOrPasswordError</span>
        <span class="validation">@ViewBag.Error</span>
        <div class="text-input">
            <i class="ri-user-fill"></i>
            <input asp-for="Username" placeholder="İstifadəçi adı" />
        </div>
        <span asp-validation-for="Username" class="validation"></span>
        <div class="text-input">
            <i class="ri-key-fill"></i>
            <input asp-for="CurrentPassword" placeholder="Mövcud şifrə" />
        </div>
        <span asp-validation-for="CurrentPassword" class="validation"></span>
        <button class="login-btn">Təsdiqlə</button>
    </form>
</div>
