@{
    ViewData["Title"] = "PasswordRequirements";
}

<div class="container">
    <div class="design">
        <div class="pill-1 rotate-45"></div>
        <div class="pill-2 rotate-45"></div>
        <div class="pill-3 rotate-45"></div>
        <div class="pill-4 rotate-45"></div>
    </div>
    <form class="login">
        <h3 class="title">Şifrə tələbləri</h3>
        <div class="text-input">
            <i class="fa-solid fa-text-width"></i>
            <input value="Minimum uzunluğu 7" disabled />
        </div>
        <div class="text-input">
            <i class="fa-solid fa-arrow-down-a-z"></i>
            <input value="Böyük, kiçik hərf və rəqəm, simvol" disabled />
        </div>
        <div class="text-input">
            <i class="fa-solid fa-signature"></i>
            <input value="Ad və soyada uyğun olmamalıdır" disabled />
        </div>
        <button asp-action="ChangePassword" class="login-btn lg">Geri</button>
    </form>
</div>

